@charset "UTF-8";

body
{	

}


/********************
*****Layout Grid*****
*********************/
.lists
{
	display: grid;
	height: 100%;
	grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
	grid-template-rows: 0.75fr 1.5fr 0.5fr;
	grid-gap: 1px 1px;
	grid-template-areas: ". . . ." ". . . ." ". . . .";
}

/*********************
******ToDo Input******
*********************/
.entries
{
	text-align: center;
}

.entiresContent
{
    display: inline-block; 
    text-align: left;
}

.toDoCreationForm
{
	text-align: center;
	grid-column-start: 2;
	grid-row-start: 1;	
}

.button {
    background-color: #b2b2b2;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px
}

.input[type=text] {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    border-style: groove;
}

.inputLabel
{
	font-size: 18px;
    font-weight: bold;
}



/********************
********Lists********
********************/
#toDoDiv
{
	text-align: center;
	grid-column-start: 2;
	grid-row-start: 1;
}

#doneDiv
{
	text-align: center;
	grid-column-start: 3;
	grid-row-start: 1;	
}


/*********************
*List border elements*
*********************/
#centerLineVertical
{
	border-style: double;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
}

#seperateLineHorizontal
{
	border-style: double;
	width:100%;
	margin-block-start: -1em;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
}

#listBox
{
	border-style: double;
	width:100%;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
}