@charset "UTF-8";

body
{	

}


/********************
*****Layout Grid*****
*********************/
.lists
{
	display: grid;
	height: 100%;
	grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
	grid-template-rows: 0fr 1.5fr 0.5fr;
	/* grid-gap: 1px 1px; */
	grid-template-areas: ". . . ." ". . . ." ". . . .";
}


/*********************
******ToDo Input******
*********************/
.entries
{
	text-align: center;
}

.entiresContent
{
    display: inline-block; 
    text-align: left;
}

.toDoCreationForm
{
	text-align: center;
	grid-column-start: 2;
	grid-row-start: 1;	
}

.button {
    background-color: #b2b2b2;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px
}

.input[type=text] {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    border-style: groove;
}

.inputLabel
{
	font-size: 18px;
    font-weight: bold;
}



/********************
****List Elements****
********************/
.toDoH1
{
	border: thick double black;
	border-top-left-radius: 25px;
	margin: inherit;
	text-align: center;
	grid-column-start: 2;
	grid-row-start: 1;
	background: #3399ff;
}

.toDoList
{
	border: thick double black;
	margin: inherit;
	text-align: center;
	grid-column-start: 2;
	grid-row-start: 2;
	background: #3399ff;
}

.toDoListItem
{
	text-align: left;
	background: #cce5ff;
    margin: 5px 5px 5px -20px;
}

.doneH1
{
	border: thick double black;
	border-top-right-radius: 25px;
	margin-top: inherit;
	margin-bottom: inherit;
	text-align: center;
	grid-column-start: 3;
	grid-row-start: 1;
	background: #3399ff;	
}

.doneList
{
	border: thick double black;
	margin: inherit;
	text-align: center;
	grid-column-start: 3;
	grid-row-start: 2;
	background: #3399ff;	
}

.doneListItem
{
	text-align: left;
	background: #cce5ff;
    margin: 5px;
}



/*******************
******The Modal*****
*******************/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}